:root {
  --bg-primary: #ffffff;
  --bg-secondary: #c7d2fe;
  --color-accent: #4f46e5;
  --color-button: #f2f2f2;
  --color-shadow: #000c0e2b;
  --text-primary: #333333;
  --text-onaccent: #ffffff;
}

@font-face {
  font-family: 'Futura';
  src: url('../../public/futura_medium_bt-webfont.woff2') format('woff2'),
    url('../../public/futura_medium_bt-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.heading {
  font-weight: 400;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Futura', sans-serif;
  color: var(--text-primary);
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

html,
body {
  background-color: var(--bg-primary);
  padding: 0;
  margin: 0;
}

body {
  padding-top: 40px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.logo > span {
  color: var(--color-accent);
  font-weight: 600;
  font-size: 40px;
}

.logo > img {
  max-width: 30px;
}

.logo > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Model viewer */

model-viewer {
  max-width: 100%;
  height: 350px !important;
  padding-top: 60px;
  margin: 0 auto 20px auto !important;
  overflow: visible;
}

model-viewer::part(default-ar-button) {
  bottom: unset;
  top: -60px;
  right: unset;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 45px;
  gap: 10px;
  border-radius: 5px;
  padding-right: 11px;
  font-weight: 600;
  padding-bottom: 1px;
  background-color: var(--color-button);
  box-shadow: 0px 1px 4px 1px var(--color-shadow);
}

model-viewer::part(default-ar-button)::after {
  font-family: 'Futura';
  content: 'Vedi in AR';
  font-weight: 400;
}

.viewerWrapper {
  height: 350px;
  position: relative;
  margin-bottom: 20px;
}

/* Search */

.floatingButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 0;
  width: 60px;
  height: 60px;
  background-color: var(--color-accent);
  border-radius: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 11px 2px #2a257ec9;
}

.floatingButton > span {
  font-size: 30px;
  color: var(--text-onaccent);
}

.search {
  background: var(--bg-primary);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 100%);
  transition: clip-path 500ms;
  z-index: 10;
  padding: 25px 30px 35px;
}

.search.open {
  clip-path: circle(141.4% at 0 100%);
}

.search .searchClose {
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: -50px;
  border: 0;
  transition: top 500ms;
  transition-delay: 500ms;
  will-change: top;
}

.search .searchClose > span {
  font-size: 35px;
}

.search.open .searchClose {
  top: 15px;
}

.search .ais-SearchBox {
  margin-bottom: 40px;
  opacity: 0;
  transition: opacity 500ms;
  transition-delay: 500ms;
}

.search.open .ais-SearchBox {
  opacity: 1;
}

.search .ais-SearchBox .ais-SearchBox-form {
  padding: 0 50px 0 15px;
}

.search .ais-SearchBox .ais-SearchBox-input {
  width: 100%;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--text-primary);
  padding: 15px 0 7px 0;
  font-size: 21px;
  font-family: 'Futura';
}

.search .ais-SearchBox .ais-SearchBox-submit {
  display: none;
}

.search .ais-SearchBox .ais-SearchBox-reset {
  display: none;
}

.search .hits {
  opacity: 0;
  transition: opacity 500ms;
  transition-delay: 500ms;
}

.search.open .hits {
  opacity: 1;
}

.search .hit {
  margin-bottom: 20px;
  position: relative;
}

.search .hit:last-child {
  margin-bottom: 0;
}

.search .hit::marker {
  font-size: 0;
}

.search .hit {
  display: grid;
  grid-template-areas:
    'image title'
    'image price';
  grid-template-columns: max-content 1fr;
  column-gap: 10px;
}

.search .hit img {
  grid-area: image;
  max-width: 80px;
}

.search .hit .title {
  grid-area: title;
  font-size: 21px;
}

.search .hit .price {
  opacity: 0.7;
  grid-area: price;
}

.search .hit a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Index */

.index {
  text-align: center;
}

.index .text {
  padding: 0 50px;
  margin-bottom: 30px;
}

.index .text p {
  margin-bottom: 10px;
}

.index .text p:last-child {
  margin-bottom: 0;
}

.index .btn {
  background-color: var(--color-button);
  padding: 15px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: auto;
  box-shadow: 0px 1px 4px 1px var(--color-shadow);
  min-width: 200px;
}

.index .btn > img {
  max-width: 20px;
}

.index .btn.seeDemo {
  background-color: var(--color-accent);
  color: var(--text-onaccent);
  padding-right: 45px;
}

.index .btn.seeSourceCode {
  margin-top: 20px;
}

/* Product */

.product > .title {
  text-align: center;
  font-size: 28px;
}

.product > .description {
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
}

.product > .price {
  margin-top: 10px;
  text-align: center;
  font-size: 21px;
  color: var(--color-accent);
}
